<style>
    table,
    th,
    td {
        border: 0px;
        padding: 10px;
        border-collapse: collapse;
        border-radius: 5px;
        background-color: white;
    }
</style>

<h1 class="text-center">BOOKING DETAILS</h1>
<div class="container">
    <a href="/type" class="btn btn-primary"> FOR BOOKING </a>
    <table class="table table-striped mt-4">
        <tr>
            <th>Id</th>
            <th>PICK UP</th>
            <th>DROP</th>
            <th>TIME</th>
            <th>ACTIONS</th>

        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.Pickup}}</td>
            <td>{{this.dataValues.Drop}}</td>
            <td>{{this.dataValues.Time}}</td>


            <td>
                <a href="/edit/{{this.dataValues.id}}">Edit</a> |
                <a href="/deletess/{{this.dataValues.id}}" class="text-danger"
                    onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
    {{!-- <p class="text-end">You are logged in as:
        <b>{{identity.firstName}} {{identity.lastName}}</b>
    </p>--}}
</div>